.first_content {
    height: 437px;
    background-color: #fafafa;
}

.first_content .wrapper {
    width: 1170px;
    margin: auto;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 115px;
}

.container1,
.container2,
.container3,
.container4 {
    width: 265px;
    height: 242px;
    margin-left: 30px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.container1 {
    margin-left: 0px;
}

.container1 p {
    margin-bottom: 16px;
}

.services h1 {
    padding-top: 29px;
    padding-bottom: 24px;
    font-family: 'RalewayBold';
    font-size: 24px;
    color: #363636;
}

.services p {
    font-family: RobotoRegular;
    font-size: 14px;
    color: #949494;
}

.container1 .layer {
    position: absolute;
    text-align: center;
    text-align: center;
    z-index: 99;
    top: -28px;
    left: 97px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #363636;
}

.container1 img {
    position: relative;
    top: -10px;
    z-index: 100;
}

.container2 .layer {
    position: absolute;
    text-align: center;
    background-repeat: no-repeat;
    z-index: 99;
    top: -28px;
    left: 97px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #363636;
}

.container2 img {
    position: relative;
    top: -10px;
    z-index: 100;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container3 .layer {
    position: absolute;
    text-align: center;
    background-repeat: no-repeat;
    z-index: 99;
    top: -28px;
    left: 97px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #363636;
}

.container3 img {
    position: relative;
    top: -10px;
    z-index: 100;
}

.container4 .layer {
    position: absolute;
    text-align: center;
    background-repeat: no-repeat;
    z-index: 99;
    top: -34px;
    left: 97px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #363636;
}

.container4 img {
    position: relative;
    top: -15px;
    z-index: 100;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#line {
    width: 70px;
    height: 2px;
    background-color: #363636;
    border: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.container4 img:last-child {
    animation-name: none;
}

.container2 img:last-child {
    animation-name: none;
}

.services p {
    padding-bottom: 34px;
}

.container1 p {
    padding-bottom: 27px;
}

.container1:hover h1,
.container2:hover h1,
.container3:hover h1,
.container4:hover h1 {
    color: #e54939;
}

.container1:hover .layer,
.container2:hover .layer,
.container3:hover .layer,
.container4:hover .layer {
    background-color: #e54939;
}

.container1:hover #line,
.container2:hover #line,
.container3:hover #line,
.container4:hover #line {
    background-color: #e54939;
}

@media screen and (max-width:768px){
.first_content{
height: auto;
    }
    .first_content .wrapper{
        width: auto;
        text-align: center;
    }
.services{
    display: block;
    margin: auto;
}
    .container1,
.container2,
.container3,
.container4{
    margin:auto;
    margin-bottom: 45px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
}
